body {
  display: grid;
  grid-template-areas:
    "filters sorters"
    "map     list";
  grid-template-rows: auto 1fr;
  grid-template-columns: auto auto;
  grid-gap: 1rem;

  padding: 1rem;
  height: 100vh;
}

#school-filters { grid-area: filters; }
#school-map { grid-area: map; }
#school-sorters { grid-area: sorters; }
#school-list { grid-area: list; }

#school-list {
  overflow-y: auto;
}

#school-filters {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#grade-level-select, #zip-code-select {
  min-width: 10rem;
}
